APP_DATABASE=mysql
MYSQL_URL=jdbc:mysql://localhost:3306/hk_weather?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useSSL=false
MYSQL_USERNAME=root
MYSQL_PASSWORD=root
H2_URL=jdbc:h2:file:./data/hk_weather;MODE=MySQL;DATABASE_TO_LOWER=TRUE;CASE_INSENSITIVE_IDENTIFIERS=TRUE;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
H2_USERNAME=sa
H2_PASSWORD=
H2_CONSOLE_ENABLED=true
WEATHER_FETCH_INTERVAL_MINUTES=10
WEATHER_REQUEST_TIMEOUT_SECONDS=10
WEATHER_SYNC_ON_START=true
WEATHER_MAX_LAMPPOSTS=0
SERVER_PORT=8080
