MYSQL_URL=jdbc:mysql://localhost:3306/hk_weather?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useSSL=false
MYSQL_USERNAME=root
MYSQL_PASSWORD=root
WEATHER_FETCH_INTERVAL_MINUTES=10
WEATHER_REQUEST_TIMEOUT_SECONDS=10
WEATHER_SYNC_ON_START=true
WEATHER_MAX_LAMPPOSTS=0
SERVER_PORT=8080
